html {
  font-size: 24px;
}

body {
  margin: 0;
  overflow: hidden;
}

svg {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.container {
  position: absolute;
  max-width: 24rem;
  margin: 1rem 0 1rem 1rem;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid black;
  border-radius: 1rem;
}

article {
  margin-right: .5rem;
  padding: 1rem;
  max-height: calc(100vh - 4rem);
  overflow: auto;
}

article h1 {
  margin-top: 0;
}

@media screen and (max-width: 960px) {
  .container {
    bottom: 0;
    max-width: calc(100vw - 2rem);
    width: 100%;
    margin: 0 1rem;
    border-radius: 1rem 1rem 0 0; 
  }

  article {
    max-height: calc((21 / 55) * 100vh - 2rem);
  }
}